@use '_colors' as _colors;

.newsHomepage {
    // position: absolute;
    z-index: 1;
    overflow: hidden;
    // height: 100vh;
    width: 100%;
}

.newsHomepageWrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.newsHomepageContent {
    position: relative;
    z-index: 3;
    width: auto;
    // padding-left: 15px;
    
}

.newsHomepageNav {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    // padding-left: 15px;
    // padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#logoIcon {
    padding-left: 0;
    width: 70px;
    margin-right: 20px;
}



#menuIcon {
    transform: translateX(5px);
    padding-top: 6px;
}

.newsHomepageHeadline {
    width: auto;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.mobileHeadlineImage {
    width: 100%;
}

.newsHomepageHeadlineContent {
    text-align: left;
}

.newsHomepageHeadlineHeader {
    font-weight: 800;
    font-size: 2.52rem;
    line-height: 98%;
    padding-top: 25px;
}

.newsHomepageHeadlineDetails {
    padding-top: 18px;
}

.newsHomepageHeadlineLead {
    color: _colors.$DarkGrayishBlue;
    line-height: 1.7;
}

.newsHomepageHeadlineDetailsMore {
    height: 3rem;
    width: 54%;
    margin-bottom: 50px;
    margin-top: 25px;
    border: none;
    background-color: _colors.$SoftRed;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .87rem;
    letter-spacing: .27rem;
}

.newsHomepageNewStoriesContainer {
    background-color: _colors.$VeryDarkBlue;
    color: _colors.$OffWhite;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 15px;
    margin-bottom: 45px;
    text-align: left;
    padding: 21px;
    
}

.newsHomepageNewStoriesHeader {
    font-weight: 700;
    font-size: 2rem;
    color: _colors.$SoftOrange;
    padding-bottom: 10px;
}

.newsHomepageNewStory {
    padding-top: 20px;
}

.newsHomepageNewStoryHeader {
    font-weight: 700;
    font-size: 1.27rem;
}

.newsHomepageNewStoryContent {
    font-weight: 400;
    font-size: .94rem;
    padding-top: 9px;
    color: _colors.$GrayishBlue;
    line-height: 1.57rem;
    padding-bottom: 10px;
}

.newsHomepageNewStorySeparator {
    height: 1px;
    border: none;
    background-color: _colors.$DarkGrayishBlue;
    margin-top: 20px;
    margin-bottom: 10px;
}

#newsHomepageNewFinalStory {
    margin-bottom: 3px;
    padding-bottom: 0px;
}

.newsHomepageStoriesContainer {
    margin: 15px;
    text-align: left;
}

.newsHomepageStoryContainer {
    display: flex;
    padding-top: 19px;
    padding-bottom: 13px;
}

.newsHomepageStoryThumbnail {
    height: 128px;
    padding-right: 10px;
}

.newsHomepageStoryContent {
    color: _colors.$GrayishBlue;
    margin-left: 14px;
}

.newsHomepageStoryNumber {
    font-size: 2rem;
    padding-top: 10px;
    margin: 0px;
    font-weight: 800;
    line-height: 1rem;
    padding-bottom: 10px;
}

.newsHomepageStoryTitle {
    margin: 0px;
    color: black;
    font-weight: 800;
    padding-top: 10px;
    font-size: 1.13rem;
}

.newsHomepageStoryDescription {
    color: _colors.$DarkGrayishBlue;
    line-height: 1.58rem;
    margin: 0;
    padding-top: 10px;
}

#newsHomepageFinalStoryContainer {
    padding-bottom: 60px;
}

@media screen and (min-width: 426px ) {

    .newsHomepageContent {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        height: 110%;
    }

    .newsHomepageNav {
        position: relative;
        padding-top: 90px;
    }

    #logoIcon {
        // height: 65px;
        // width: 65px;
        padding-left: 2px;
    }

    .newsHomepageHorizontalContainer {
        display: flex;
        padding-top: 35px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .newsHomepageHeadline {
        width: 64%;
        display: flex;
        flex-direction: column;
    }

    .newsHomepageHeadlineContent {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        // width: auto;
    }

    .newsHomepageHeadlineHeader {
        font-size: 3.5rem;
        line-height: 100%;
        width: 50%;
        // text-align: center;
        // align-self: center;
    }

    .newsHomepageHeadlineDetails {
        width: 350px;
    }

    .newsHomepageHeadlineLead {
        line-height: 1.6;
        margin-top: 2px;
    }

    .newsHomepageHeadlineDetailsMore {
        margin-top: 38px;
        margin-bottom: 37px;
        width: 53%;
        transition: .5s color, .5s background-color;
    }

    .newsHomepageHeadlineDetailsMore:hover {
        color: white;
        background-color: black;

    }

    .newsHomepageNewStoriesContainer {
        margin-top: 10px;
        margin-left: 13px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .newsHomepageNewStoriesHeader {
        font-size: 2.5rem;
        margin-top: 5px;
    }

    .newsHomepageNewStoryHeader {
        transition: .5s color;
    }

    .newsHomepageNewStoryHeader:hover {
        color: _colors.$SoftOrange;
    }

    #newsHomepageNewFinalStory {
        margin-bottom: 10px;
    }

    .newsHomepageStoriesContainer {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
        margin-left: 20px;

    }

    .newsHomepageStoryContainer {
        width: 350px;
        padding-top: 10px;
    }

    .newsHomepageStoryTitle {
        transition: .5s color;
    }

    .newsHomepageStoryTitle:hover {
        color: _colors.$SoftRed;
    }

}